@model PreOwnedVehicle.Models.tblinsurance

@{
    ViewBag.Title = "listInsurancedetails";
    Layout = "~/Views/Shared/_LayoutInsurance.cshtml";
}

<h2>Insurance Details</h2>

<div>
    <h4>tblinsurance</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.insuranceid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.insuranceid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loginid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loginid)
        </dd>*@

        <dt>
            Vehicle No
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblvehiclereg.vehicleid)
        </dd>

        <dt>
            Amount
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            Renew Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.renewdate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "editInsurancedetails", new {  id = Model.insuranceid}) |
    @Html.ActionLink("Back to List", "listInsurance")
</p>
